@font-face { font-family: glacialindifference-regular; src: url('../fonts/glacialindifference-regular.otf'); } 
@font-face { font-family: glacialindifference-bold; src: url('../fonts/glacialindifference-bold.otf'); } 

html {
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: glacialindifference-regular;
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #ffff;
    color: #3D4146;
    position: relative;
}
.nopadding{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.sec-pad{
    padding: 70px 0px; 
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
p{
    font-size: 18px;
    line-height: 25px;
    color: #7B7E82;
}
.bold{
    font-family: glacialindifference-bold;
}


.screen-height{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}
.sec-bg{
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #aeaaa9;
}
.light-img{
    background-image: url('../img/bg1.jpg');
}
.dark-theme .light-img{
    background-image: url('../img/bg2.jpg');
}
.home-box{
    background: #000000a8;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
    text-align: center;
}
.home-box .logo{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-bottom: 70px;
}
.checkbox-div{
    box-shadow: 0px 53px 99px #d41cc714;
    border: 5px solid #D41CC7;
    border-radius: 19px;
    padding: 20px 30px;
    display: inline-block;
    margin: auto;
    position: relative;
}
.check-load-icon{
    position: absolute;
    right: -20px;
    top: -20px;
}
.custom.checkbox label{
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    color: #4A8CE0;
    font-size: 21px;
}
.custom.checkbox input[type="checkbox"]{
    position: relative;
    margin-right: 0px;
    cursor: pointer;
    visibility: hidden;
}
.custom.checkbox input[type="checkbox"]:after{
    content: "";
    position: absolute;
    top: -12px;
    left: -35px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 3px solid #4A8CE0;
    border-radius: 9px;
    cursor: pointer;
    visibility: visible;
}
.custom.checkbox input[type="checkbox"]:before {
      transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: -25px;
    top: -1px;
    z-index: 1;
    width: 16px;
    height: 9px;
    border: 3px solid #4A8CE0;
    border-top-style: none;
    border-right-style: none;
    visibility: visible;
}
.custom.checkbox input[type="checkbox"]:checked:before {
  transform: rotate(-45deg) scale(1, 1);
}

.footer p{
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 10px; 
}
.footer-position{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.verify-popup-box{
    display: none;
    color: #F1F1FF;
    max-width: 470px;
    margin: auto;
    background: #000000a8;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 30px;
    padding: 30px 30px;
}
.verify-popup-box .popup-title{
    color: #F1F1FF;
}
.verify-popup-box .popup-title .big-fonts{
    font-family: glacialindifference-bold;
    font-size: 35px;
    margin: 10px 0px;
    display: block;
}
.images{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #707070;
    cursor: pointer; 
}
.images.select-images{
    border: 2px solid #d41cc7;
}
.icons li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.theme-btn{
    border: 2px solid #D41CC7;
    border-radius: 13px;
    color: #F1F1FF;
    min-width: 150px;
    text-align: center;
    padding: 7px 25px;
    font-size: 18px;
    box-shadow: inset 0px 0px 0px 0px #D41CC7;
    transition: box-shadow 300ms ease 0ms;
}
.theme-btn:hover, .theme-btn:focus{
    color: #fff;
    box-shadow: inset 250px 0px 0px 0px #D41CC7;
}
.btn:focus{
    outline: 0;
}
.theme-btn span.fa{
    color: #4A8CE0;
    margin-left: 10px;
}
.theme-btn:hover span.fa{
    color: #fff;
}

/*theme-radio*/

.theme-radio{
    position: absolute;
    top: 25px;
    right: 20px;
}
#toggle{
    position: relative;
    display: block;
    width: 70px;
    height: 35px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;    
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle.active{
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 8px rgba(0,0,0,0.05);
}
#toggle .indicator{
    position: absolute;
    top: 0;
    left:0;
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.85);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
}
#toggle.active .indicator{
    left: 35px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
}
/*end-theme-radio*/

.screen-height.header-padding{
    padding: 100px 0px 60px;
}
.header{
    background: #000000a8;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}
.header .logo{
    max-height: 41px;
    width: auto;
}
.socials li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}
.header .theme-radio{
    position: relative;
    top: 0px;
    right: 0px;
}
.maintenance-box{
    background-color: #0A0C12;
}
.box-radius{
    border-radius: 30px;
}
.box-padding{
    padding: 30px 70px;
}
.title{
    color: #3D4146;
    font-size: 29px;
    margin-bottom: 15px;
}
.white-text .title{
    color: #F1F1FF;
}
.white-text p{
    color: #CECECE;
}
.server-box{
    background-color: #F1F1FF;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
    margin-bottom: 30px;
}
.server-image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.server-details{
    padding: 20px 25px;
}
.server-details .lines{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.server-details .lines:last-child{
    margin-bottom: 0px;
}
.server-details .lines p{
    margin-bottom: 0px;
}
.server-details .lines p span img.icon{
    margin-top: -2px;
}
.dark-color{
    color: #3D4146;
}
.round-status{
    height: 13px;
    width: 13px;
    display: inline-block;
    border-radius: 50%;
}
.text-light{
    color: #F1F1FF;
}
.text-success{
    color: #18DF25!important;
}
.text-danger{
    color: #FF4646!important;
}
.text-warning{
    color: #F2C820!important;
}
.bg-success{
    background-color: #18DF25!important;
}
.bg-danger{
    background-color: #FF4646!important;
}
.bg-warning{
    background-color: #F2C820!important;
}
.main-btn{
    background-color: #D41C91;
    color: #F1F1FF;
    font-size: 16px;
    min-width: 185px;
    text-align: center;
    padding: 10px 25px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}
.main-btn:hover{
    color: #F1F1FF;
}
.main-btn.blue-btn{
    background-color: #1094F0;
}
.main-btn span img{
    margin-right: 10px;
    margin-top: -2px;
}
.main-btn:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 99;
}
.main-btn:hover:after {
    left: 120%;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.main-btn:focus{
    box-shadow: none;
}
.reg-icon{
    display: inline-block;
}
.white-icon{
    display: none;
}
.modal-content{
    border-radius: 30px;
    background-color: #F1F1FF;
    overflow: hidden;
    border: none;
}
.contact-img{
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 45px;
}
.contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-box-padding{
    padding: 60px 30px;
}
.modal .close{
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 99;
    font-size: 13px;
    opacity: 1;
    color: #7B7E82;
    background-image: none;
    height: auto;
    width: auto;
    padding: 0px; 
}
.modal .btn-close:focus{
    box-shadow: none;
    outline: 0;
}
.form-group{
    margin-bottom: 1rem;
}
.form-control{
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px 20px;
    color: #7B7E82;
    border-color: #DCDCDC;
}
.form-control::placeholder{
    color: #CECECE;
}
.form-control:focus{
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    border-color: #DCDCDC;
    color: #7B7E82;
}
.input-with-icon{
    position: relative;
}
.input-with-icon .form-control{
    padding-left: 40px;
}
.input-icon{
    position: absolute;
    top: 14px;
    left: 15px;
}
@media (min-width: 1400px){
    .modal-xl {
        max-width: 1250px;
    }
}


/*index page*/

.main-bg-theme{
    background: #F1F1FF;
    opacity: 1;
}
.hero-sec-bg{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.hero-sec-height{
    height: 100vh;
    position: relative;
    z-index: 99;
    /*max-height: 800px;*/
}
.hero-sec-bg::before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #f1f1ff, #ffffff00);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.hero-text{
    position: relative;
    z-index: 99;
}
.hero-text .main-title {
    color: #3D4146!important;
    /*text-shadow: 0 0 30px #3d4146;*/
}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
.carousel-indicators [data-bs-target] {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    border: none!important;
    background-color: #1094F0;
    opacity: 1;
}
.carousel-indicators .active {
    background-color: #3d4146;
}
.carousel-indicators {
    position: absolute;
    right: 0px;
    left: auto;
    top: 50%;
    bottom: 0px;
    align-items: center;
    transform: rotate(90deg);
    margin: 0px!important;
    height: 0px;
    width: auto;
}
.hero-text h1 {
    color: #3D4146!important;
}
.hero-text p {
    color: #3D4146!important;
}


.title-div{
    margin-bottom: 40px;
}
.main-title{
    font-size: 41px;
    margin-bottom: 0px;
    color: #3D4146;
    text-transform: uppercase;
    font-family: glacialindifference-bold;
}
.title-div p{
    font-size: 16px;
    margin-bottom: 0px;
    color: #7B7E82;
}
.feature-box{
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 60px;
}
.feature-box img{
    margin-bottom: 25px;
}
.feature-box p.inherit-title{
    font-size: 16px;
    margin-bottom: 10px;
    color: #F1F1FF;
}
.feature-box p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0px;
}
.testimonial-div{
    padding: 20px 5px;
}
.testimonial-div .name{
    color: #3D4146;
}
.testimonial-div .date{
    color: #7B7E82;
}
.testimonial-div p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0px;
}
.testimonial-div .content{
    font-style: italic;
}
.testimonial-div ul.star li{
    list-style: none;
    display: inline-block;
    color: #E6D80B;
    font-style: 18px;
    margin: 0px 4px;
}
.support-box{
    background-image: url('../img/homepage/support-bg.png');
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px 20px;
    text-align: center;
}
.support-box h2{
    font-size: 30px;
    line-height: 42px;
    color: #fff;
    font-family: glacialindifference-bold;
    margin-bottom: 20px;
}
.support-box h2 span{
    color: #4A8CE0;
}
.testimonial-slider.owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
}
.about-bottom-padding{
    padding-bottom: 80px;
}
.about-slider .item{
    margin: 0px 5px;
}
.about-slider.owl-theme .owl-dots{
    position: absolute;
    right: -135px;
    bottom: 10px;
}
.owl-theme .owl-nav button::before {
    padding: 6px 25px;
    font-size: 16px;
    background: #4A8CE0;
    color: #fff;
    border-radius: 30px;
    opacity: 1;
    text-transform: capitalize;
}
.owl-carousel .owl-nav button.owl-next:before{
    content: 'Next';
}
.owl-carousel .owl-nav button.owl-prev:before{
    content: 'Prev';
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-carousel .owl-nav button {
    font-size: 0px!important;
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #1094F0;
}
.owl-theme .owl-dots .owl-dot span {
    opacity: 1;
    background: #CECECE;
}
.server-slider-img-div{
    margin: 20px 10px; 
    padding: 7px; 
    transition: all ease .5s;
    border-radius: 20px;
    border: 4px solid transparent;
}
.server-slider-img{
    border-radius: 20px;
}
.server-slider-img-div:hover{
    transform: scale(1.05);
    border: 4px solid rgb(16 127 209 / 22%);
}
.page-footer{
    /*background-image: url('../img/homepage/footer/footer-bg.svg');*/
    background-color: #1f2c68;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 30px 0px 30px;
    position: relative;
}

.page-footer .logo{
    max-height: 42px;
}
.page-footer p{
    font-size: 14px;
    line-height: 18px;
    color: #CECECE;
}
.page-footer a{
    text-decoration: none;
    color: #CECECE;
}
.page-footer a:hover {
    text-decoration: underline;
    color: #1094F0;
}
.page-footer .socials li a img{
    height: 19px;
    width: auto;
    transition: all ease .5s;
}
.page-footer .socials li a:hover img{
    transform: translateY(-5px);
}
.payements li{
    list-style: none;
    display: inline-block;
    margin: 5px 10px;
}
.footer-line{
    padding: 17px 0px;
    background: #0E0E30;
}
.footer-line p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #CECECE;
}


.footer-bg-img {
    width: 100%;
    position:absolute;
    bottom: -100px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
svg {
  width:100%;
}
.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #1f2c68;
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes wave {
  to {transform: translateX(-100%);}
}




/*map css*/
.svg-icon {
    width: auto;
    height: 40px;
}
.dogras-world-map {
    position: relative;
}
.dogras-world-map img {
    width: auto;
    max-width: 100%;
}
.map-location {
    position: absolute;
    /*margin-left: -12px;*/
    color: #323232;
    text-align: center;
    display: flex;
    justify-content: center;
}
.dogras-location-bubble {
    display: none;
    transition: opacity ease .5s;
}
.map-location:hover .dogras-location-bubble {
    display: flex;
}
.map-location .dogras-location-bubble {
    justify-content: center;
    position: absolute;
    top: -45px;
    left: auto;
    right: auto;
    min-width: 120px;
    padding: 7px 8px;
    background: #d88328;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    color: #F1F1FF;
    text-align: center;
    font-size: 18px;
    /*white-space: nowrap;*/
}
.map-location .dogras-location-bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: -8px;
    border-width: 8px 8px 0;
    border-color: #d88328 transparent;
}
.map-location .dogras-location-name {
    font-size: 16px;
    white-space: nowrap;
    color: #F1F1FF;
}
.map-location .dogras-location-desc {
    font-size: 12px;
}
.pin-1 {
    top: 300px;
    left: 890px;
}
.pin-2 {
    top: 195px;
    left: 270px;
}
.pin-3 {
    top: 380px;
    left: 710px;
}
.pin-4 {
    top: 155px;
    left: 590px;
}

.map-pin-box{
    display: flex;
    align-items: center;
    border: 1px solid #4A8CE0;
    padding: 10px 30px 10px 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.map-pin-box .svg-icon{
    margin-right: 1rem;
}
.map-pin-box .dogras-location-name {
    font-size: 16px;
    color: #3D4146;
}
.map-pin-box .dogras-location-desc {
    font-size: 14px;
    color: #7B7E82;
}
.flag-icon{
    height: 25px!important;
    width: 25px!important;
    border-radius: 50%;
    margin-right: 10px;
}


/*end map css*/


/*sidebar*/

.page-header{
    width: 75px;
    height: 100%;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #f1f1ff96;
    box-shadow: 5px 0px 10px #0000004f;
    opacity: 1;
    backdrop-filter: blur(28px);
    webkit-backdrop-filter: blur(28px);
    z-index: 999;
    overflow: hidden;
    transition: all ease .5s;
}
.show_menu.page-header{
    width: 281px;
}
.page-menu{
    overflow-y: scroll;
    height: calc(100vh - 80px);
}
.page-menu::-webkit-scrollbar {
    display: none;
}
.nav-pills .nav-link {
    border-radius: 0px;
    display: flex;
    align-items: center;
    color: #F1F1FF;
    padding: 20px 30px 20px 25px;
    min-height: 70px;
    width: 100%;
}
.nav-pills .nav-link.active {
    color: inherit;
    background-color: #3D4146;
}
.nav-link.active .menu-name {
    color: #f1f1f1;
}
.nav-link.active .white-icon {
    display: inline-block;
}
.nav-link.active .reg-icon {
    display: none;
}

.menu-icon{
    min-width: 20px;
    text-align: center;
}
.menu-icon img{
    margin-top: -5px;
}
.menu-name{
    margin-left: 20px;
    font-size: 18px;
    color: #3D4146;
    display: block;
    white-space: nowrap;
    opacity: 0;
    transition: all ease .5s;
}
.show_menu .menu-name{
    opacity: 1;
    /*display: block;*/
}
.menu-collapse-icon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    bottom: 30px;
    cursor: pointer;
    width: 100%;
}
.menu-collapse-icon.active span img{
    transform: rotate(180deg);
}
.page-menu-logo {
    height: 78px;
    text-align: left;
    background-color: #0E0E30;
    /*backdrop-filter: blur(28px);
    webkit-backdrop-filter: blur(28px);*/
}
.page-menu-logo img.my-logo-icon{
    padding: 20px 12px;
}
.page-menu-logo img.my-logo{
    height: auto;
    max-width: 281px;
    padding: 20px 12px;
}
.my-logo-icon{
    opacity: 1;
    display: block;
    transition: all ease .5s;
}
.my-logo{
    opacity: 0;
    display: none;
    transition: all ease .5s;
}
.show_menu .my-logo-icon{
    opacity: 0;
    display: none;
}
.show_menu .my-logo{
    opacity: 1;
    display: block;
}
.profile-dropdown{
    position: absolute;
    right: 40px;
    top: 20px;
    color: #FFFFFF;
    z-index: 999;
    font-size: 16px;
}
.dropdown-menu-dark {
    color: #0E0E30;
    background-color: #fff;
    border-color: #fff;
}
.dropdown-menu-dark .dropdown-item {
    color: #0E0E30!important;
}
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active, .dropdown-menu-dark .dropdown-item:focus, .dropdown-menu-dark .dropdown-item:hover {
    background-color: #f1f1f1;
}
.dropdown-toggle::after{
    display: none;
}
.theme-radio.relative{
    position: relative;
    top: 0px;
    right: 0px;
}
.small-radio{
    padding: 20px 0px;
    max-width: 75px;
}
.small-radio #toggle {
    width: 50px;
    height: 25px;
    margin: auto;
}
.small-radio #toggle.active .indicator {
    left: 25px;
}
.small-radio #toggle .indicator {
    width: 25px;
    height: 25px;
}
.slide-arrow{
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 999;
    transform: rotate(90deg); 
}
.server-box.with-black {
    background-color: #fff;
}

#tilt {
  display: block;
  height: 310px;
  width: 500px;
  background-color: transparent;
  margin: 0 auto;
  transition: transform 0.1s;
}
#tilt:hover {
  cursor: pointer;
}

.setting-modal .modal-dialog{
    max-width: 570px;
}
.setting-modal p {
    color: #3D4146;
}
.setting-modal .modal-content {
    background: #f1f1ffeb!important;
    border-radius: 19px;
}
.setting-modal .title{
    font-size: 25px;
}
.theme-btn.small-btn{
    color: #3D4146;
}
.theme-btn.small-btn:hover{
    color: #F1F1FF!important;
}
.small-btn{
    border-radius: 50px;
    font-size: 16px;
    padding: 3px 20px;
    min-width: auto;
}
.custom.radio > label {
  padding-left: 32px;
  color: #3D4146;
}
.custom input[type="radio"] {
  position: relative;
  margin-left: -26px;
  margin-right: 12px;
  cursor: pointer;
}
.custom input[type="radio"]:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    background: #e7e7f5;
    border: 2px solid #4A8CE0;
    cursor: pointer;
    border-radius: 50%;
}
.custom input[type="radio"] {
    top: 3px;
}
.custom input[type="radio"]:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: #4A8CE0;
    border-radius: 50%;
}
.custom input[type="radio"]:checked:before {
  transform: scale(1, 1);
}
.features-bg{
    background-image: url('../img/homepage/feature/feature-bg.png');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.feature-box p {
    color: #CECECE;
}
.features-bg .main-title{
    color: #fff!important;
}
.features-bg .title-div p {
    color: #fff;
}


/* terms-and-use */

.inner-page-sec-pad{
    padding-bottom: 70px;
}
.term-box{
    font-size: 15px;
    color: #7B7E82;
    background-color: #0E0E3008;
    padding: 20px 30px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 60px;
}
.term-box span.number{
    color: #3D4146;
    font-size: 35px;
    margin-bottom: 0px;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #0E0E3008;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -60px;
    top: 0px;
}
.term-box p.inherit-title{
    color: #3D4146;
    font-size: 16px;
    margin-bottom: 10px;
}
.term-box p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0px;
}
.terms-desc-box{
    background-color: #0E0E3008;
    padding: 10px 15px;
    position: relative;
    display: inline-flex;
    opacity: 0;
    transition: all ease .5s;
}
.terms-desc-btn:hover + .terms-desc-box{
    opacity: 1;
}
.terms-desc-box::before{
    content: '';
    width: 0; 
    height: 0; 
    border-bottom: 12px solid transparent; 
    border-right: 12px solid #e9e9f9; 
    position: absolute;
    left: -12px;
    top: 0px;
}
.terms-desc-box p{
    color: #3D4146;
    font-size: 16px;
}
.terms-desc-box p span img{
    margin-top: -3px;
}
.terms-desc-box a{
    text-decoration: none;
}
.innerpage-profile-dropdown{
    color: #3D4146;
}

/*product page*/

.sidebar-filter{
    position: sticky;
    top: 0px;
    left: 0px;
}
.product-box{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    /*border: 2px solid transparent;*/
    transition: transform ease .5s;
}
.product-box:hover{
    transform: translateY(-10px);
    /*border: 2px solid rgb(74 140 224);*/
}
.product-image {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.product-title{
    font-size: 17px;
    line-height: 20px;
    color: #3D4146;
    font-family: glacialindifference-bold;
    margin-bottom: 5px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-details{
    padding: 10px 20px 20px;
}
.product-details p{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
}
.product-details p.product-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box-tag{
    background-color: #e04a4ae6;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 6px 8px 6px 15px;
    color: #F1F1FF;
    font-size: 16px;
    line-height: 19px;
}
.light-shade-box {
    background-color: #0E0E3008;
}
.light-shade-box p{
    display: flex;
    align-items: center;
}
.sidebar-filter .light-shade-box {
    padding: 15px 20px;
    margin-bottom: 30px;
}
.sidebar-filter p{
    font-size: 16px;
    margin-bottom: 12px;
    color: #3D4146;
}
.top-filter{
    font-size: 17px;
    color: #3D4146;
}
.after-icon .dropdown-toggle::after{
    display: inline-block;
}
.icon-dropdown-menu .dropdown-item span img{
    max-width: 20px;
    height: auto;
    margin-right: 10px;
    margin-top: -2px;
}


/*about page*/

.video-div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.play-btn{
    display: inline-block;
    position: absolute;
    cursor: pointer;
}
.small-title{
    font-family: glacialindifference-bold;
    font-size: 20px;
}
.team-box{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}
.team-box .team-content{
    padding: 18px 20px;
}
.team-box .team-title{
    font-family: glacialindifference-bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #3D4146;
    margin-bottom: 0px;
}
.team-box p{
    font-size: 16px;
    margin-bottom: 0px;
}
.sidebar-filter{
    position: sticky;
    top: 0px;
    left: 0px;
}
.light-shade-box.time-line-box{
    padding: 40px;
}
.time-line-box .small-title{
    color: #3D4146;
    margin-bottom: 0px;
}
.time-line-box p{
    margin-bottom: 0px;
}
.roadmap-list li{
    list-style: none;
    padding-bottom: 25px;
    padding-left: 40px;
    margin: 0px 125px;
    position: relative;
}
.roadmap-list li::before{
    content: '';
    display: block;
    width: 7px;
    height: 100%;
    background-color: #4A8CE0;
    position: absolute;
    left: 0px;
}
.roadmap-list li:first-child::before{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.roadmap-list li:last-child::before{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.roadmap-list p.r_content{
    font-size: 15px;
    line-height: 22px;
    color: #7B7E82!important;
}
.roadmap-list .year-div{
    width: 55px;
    height: 55px;
    background-color: #4A8CE0;
    border-radius: 50%;
    color: #F1F1FF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -90px;
}
.white-font{
    color: #3D4146!important;
}


/*ddos page*/

.ddos-box{
    padding: 50px;
    position: relative;
}
.table{
    color: #CECECE;
    border-color: #555;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}
.table thead th{
    font-family: glacialindifference-bold;
    font-weight: 500;
    border: none;
}
.table tr{
    border-color: #cecece;
}
.table th , .table td{
    border-color: #cecece;
    padding: 11px 10px;
}
.table td{
    background-color: #fff;
    color: #3d4146;
}
.table tr:last-child{
    border-bottom: none;
}
.table tr:first-child{
    border-top: none;
}
.red-th th{
    background-color: #d41c48;
}
.blue-th th{
    background-color: #4a8ce0;
}
table tr td:first-child {
    border-left: none;
}
table tr td:last-child {
    border-right: none;
}
.ddos-map{
    width: 100%;
    max-width: 800px;
    height: 400px;
    display: inline-block;
    border: 1px solid #555;
    margin: 40px 0px 0px;
    position: relative;
    z-index: 99;
    background-color: #1f1f3f;
    overflow-y: hidden;
    overflow-x: auto;
}
.ddos-map .wrapper {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.ddos-map::-webkit-scrollbar {
    display: none;
}
.ddos-map .label {
    height: 1em;
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    display: none;
    color:#333;
}
.ddos-side-img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.payements{
    max-width: 570px;
    margin: 0px auto;
    display: flex;
    flex-wrap: initial;
    overflow-x: auto;
    cursor: grab;
    justify-content: center;
}
.payements::-webkit-scrollbar {
    display: none;
}
.payements li img{
    min-width: 57px;
    height: auto;
}
.page-header .nav-item .dropdown-menu.show {
    position: relative!important;
    transform: none!important;
}
.page-header .nav-item .dropdown-menu {
    min-width: auto;
    padding: 0px!important;
    margin: 0px 0px 0px 40px!important;
    background-color: transparent;
    border: none;
    border-radius: 0rem;
}
.page-header .dropdown-item{
    font-size: 18px;
    color: #3d4146;
    padding: 8px 25px;
}
.page-header .dropdown-item.active, .page-header .dropdown-item:active , .page-header .dropdown-item:focus, .page-header .dropdown-item:hover {
    color: #3d4146;
    background-color: transparent;
}
.page-header .nav-item .dropdown-menu.show.d-none-class{
    display: none;
}
.page-header .nav-item .dropdown-menu.show.d-block-class{
    display: block;
}

/*.payements-slider{
    max-width: 570px;
    margin: auto;
}
.payements-slider img{
    width: 100%;
    max-width: 57px;
}*/

/*popup page*/

.h-100vh{
    height: 100vh;
}
.discount-popup .popup-bg-img{
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: auto;
    background-image: url('../img/discount-popup/bg-img.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
}
.popup-img-text{
    max-width: 600px;
    margin: auto;
    padding: 20px 0px 0px;
}
.popup-img-text .green-round{
    height: 14px;
    width: 14px;
    display: inline-block;
    border-radius: 50%;
    background-color: #24A206;
    margin: 0px 10px;
    margin-bottom: -1px;
}

/*community page*/

.creator-box-margin{
    margin-bottom: 25px;
    padding-top: 30px;
}
.creator-box{
    padding: 0px 10px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #0E0E3008;
    height: 100%;
}
.creator-box-icon {
    margin-top: -30px;
    margin-bottom: 3px;
}
.games-creator{
    display: inline-block;
    margin: auto;
    text-align: left;
    margin-bottom: 25px;
}
.games-creator-img{
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #4A8CE0;
    margin-bottom: 8px;
}
.games-creator p{
    margin-bottom: 0px;
}
.games-creator p span{
    color: #1094F0;
    text-transform: uppercase;
}
.br-50{
    border-radius: 50px;
}
.socials-bg-side-section{
    padding: 60px 20px 60px 130px;
    background-color: #0E0E3008;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    position: absolute;
    right: 0px;
    width: 45%;
    top: 49px;
    bottom: auto;
    background-image: url('../img/community/social-icon-bg.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
}
.top-background-div {
    background-color: #4a8ce0;
    height: 235px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: absolute;
    top: 0px;
    left: 75px;
    right: 0px;
    z-index: -1;
}
.socials-bg-side-section span img.p-icon{
    margin-top: -2px;
}





/*dark-theme*/

.dark-theme .checkbox-div{
    background: linear-gradient(270deg, #000084 0%, #000096 100%);
    box-shadow: 0px 53px 99px #D41CC766;
}
.dark-theme .custom.checkbox label{
    color: #fff;
}
.dark-theme .server-box{
    background-color: #313131;
}
.dark-theme p{
    color: #CECECE;
}
.dark-theme .dark-color{
    color: #F1F1FF;
}
.dark-theme .title{
    color: #F1F1FF;
}
.dark-theme .reg-icon{
    display: none;
}
.dark-theme .white-icon{
    display: inline-block;
}
.dark-theme .modal-content {
    background-color: #0A0C12;
}
.dark-theme .form-control::placeholder{
    color: #7B7E82;
}
.dark-theme .form-control{
    border-color: #7B7E82;
}
.dark-theme .modal .close{
    color: #CECECE;
}
.dark-theme.main-bg-theme{
    background: #0E0E30;
}
.dark-theme.main-bg-theme p{
    color: #CECECE;
}
.dark-theme .main-title{
    color: #fff;
}
.dark-theme .testimonial-div .name{
    color: #FFFFFF;
}
.dark-theme .testimonial-div .date{
    color: #cecece;
}
.dark-theme .title-div p{
    color: #fff;
}
.dark-theme .server-box.with-black {
    background-color: #0A0C12;
}
.dark-theme .page-header {
    background: #00000096;
}
.dark-theme .menu-name {
    color: #F1F1FF;
}
.dark-theme .map-pin-box .dogras-location-name {
    color: #f1f1f1;
}
.dark-theme .map-pin-box .dogras-location-desc {
    color: #CECECE;
}
.dark-theme .hero-sec-bg::before{
    background-image: linear-gradient(to top, #0e0e30, #0e0e3000);
}
.dark-theme .hero-text h1 {
    color: #fff!important;
}
.dark-theme .hero-text p {
    color: #fff!important;
}
.dark-theme .setting-modal p {
    color: #CECECE;
}
.dark-theme .setting-modal .modal-content {
    background: #030521eb!important;
}
.dark-theme .custom input[type="radio"]:after {
    background: #0A0C12;
}
.dark-theme .custom.radio > label {
  color: #CECECE;
}
.dark-theme .theme-btn.small-btn{
    color: #f1f1ff;
}
.dark-theme .dropdown-menu-dark {
    color: #dee2e6;
    background-color: #0E0E30;
    border-color: #0E0E30;
}
.dark-theme .dropdown-menu-dark .dropdown-item {
    color: #dee2e6!important;
}
.dark-theme .dropdown-menu-dark .dropdown-item.active, .dark-theme .dropdown-menu-dark .dropdown-item:active, .dark-theme .dropdown-menu-dark .dropdown-item:focus, .dark-theme .dropdown-menu-dark .dropdown-item:hover {
    background-color: rgba(255,255,255,.15);
}
.dark-theme .nav-pills .nav-link.active {
    color: inherit;
    background-color: #f1f1f1;
}
.dark-theme .nav-link.active .menu-name {
    color: #3D4146;
}
.dark-theme .nav-link.active .white-icon {
    display: none;
}
.dark-theme .nav-link.active .reg-icon {
    display: inline-block;
}
.dark-theme .hero-text .main-title{
    text-shadow: 0 0 0px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #1094f0, 0 0 80px #1094f0, 0 0 90px #1094f0, 0 0 100px #1094f0, 0 0 150px #1094f0;
}
.dark-theme .carousel-indicators .active {
    background-color: #F1F1FF;
}
.dark-theme .map-location .dogras-location-bubble {
    background: #D41C91;
}
.dark-theme .map-location .dogras-location-bubble:before {
    border-color: #D41C91 transparent;
}
.dark-theme .features-bg{
    background-image: none;
}

/* terms-and-use */

.dark-theme .term-box{
    color: #CECECE;
    background-color: #ffffff12;
}
.dark-theme .term-box span.number{
    color: #F1F1FF;
    background-color: #ffffff12;
}
.dark-theme .term-box p.inherit-title{
    color: #F1F1FF;
}
.dark-theme .terms-desc-box{
    background-color: #ffffff12;
}
.dark-theme .terms-desc-box::before{
    border-right: 12px solid #1f1f3f;
}
.dark-theme .terms-desc-box p{
    color: #CECECE;
}
.dark-theme .innerpage-profile-dropdown{
    color: #fff;
}

/*product page*/

.dark-theme .product-box {
    background-color: #0A0C12;
}
.dark-theme.main-bg-theme .product-title{
    color: #F1F1FF;
}
.dark-theme .light-shade-box {
    background-color: #ffffff12;
}
.dark-theme.main-bg-theme .sidebar-filter p {
    color: #F1F1FF;
}
.dark-theme.main-bg-theme .top-filter{
    color: #F1F1FF;
}
.dark-theme.main-bg-theme .shadow {
    box-shadow: 0 0px 20px #00000073!important;
}

/*about page*/

.dark-theme .team-box{
    background-color: #030420;
}
.dark-theme .team-box .team-title{
    color: #fff;
}
.dark-theme .roadmap-list p.r_content {
    color: #CECECE!important;
}
.dark-theme .time-line-box .small-title{
    color: #F1F1FF;
}
.dark-theme .white-font{
    color: #fff!important;
}

/*ddos page*/

.dark-theme .table tr{
    border-color: #555;
}
.dark-theme .table th , .dark-theme .table td{
    border-color: #555;
}
.dark-theme .table td{
    background-color: #111231;
    color: #cecece
}
.dark-theme .page-header .dropdown-item{
    color: #f1f1f1;
}
.dark-theme .page-header .dropdown-item.active, .dark-theme .page-header .dropdown-item:active , .dark-theme .page-header .dropdown-item:focus, .dark-theme .page-header .dropdown-item:hover {
    color: #f1f1f1;
}

/*community page*/

.dark-theme .creator-box{
    background-color: #383D5C;
}
.dark-theme .socials-bg-side-section {
    background-color: #ffffff12;
}

/*container-width*/

@media only screen and (min-device-width: 1400px) and (max-device-width: 1500px){ 
    .main-bg-theme .container{
        max-width: 1240px;
    }
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1300px){ 
    .main-bg-theme .container{
        max-width: 1040px;
    }
}