/*--------------------------------------------------------------
15. Media queries
--------------------------------------------------------------*/
@media only screen and (min-device-width: 1400px) and (max-device-width: 1600px){ 
   

}
@media only screen and (min-width : 1980px) {
	.socials-bg-side-section{
    	position: relative;
	    width: 100%;
	    padding: 60px 20px 60px 80px;
	    text-align: center;
	    background-size: cover;
	}
}

@media only screen and (min-width: 1600px) {
	.hero-text h1{
		font-size: 50px;
	}
	.hero-text p{
		font-size: 20px;
	}
}

@media only screen and (min-width: 1400px) {
	.ddos-map {
    	max-width: 1000px;
    	height: 500px;
    }
    .ddos-map .wrapper canvas{
    	width: 1000px;
    	height: 500px;
    }
}

@media only screen and (max-width: 1400px) {
	.home-box .logo{
	    max-width: 550px;
	    margin-bottom: 60px;
	}
	.custom.checkbox label{
	    padding-left: 30px;
    	font-size: 21px;
	}
	.custom.checkbox input[type="checkbox"]:after{
	    top: -8px;
	    left: -30px;
	    width: 30px;
	    height: 30px;
	}
	.custom.checkbox input[type="checkbox"]:before {
	   	left: -21px;
	    top: 2px;
	    width: 14px;
	    height: 7px;
	}
	.verify-popup-box{
    	max-width: 400px;
	}
	.screen-height.header-padding{
	    padding: 90px 0px 50px;
	}
	.header{
    	height: 70px;
	}
	.row.g-5, .row.gx-5 {
    	--bs-gutter-x: 1.5rem;
	}
	p{
		font-size: 16px;
		line-height: 20px;
	}
	.server-details {
    	padding: 18px 20px;
	}
	.server-title{
		font-size: 17px;
	}
	.contact-img{
    	min-height: 550px;
	}
	.map-location .dogras-location-bubble {
    	font-size: 16px;
    }
    #tilt {
	  	height: 273px;
	  	width: 400px;
	}
	.hero-text .main-btn {
	    min-width: 150px;
	    padding: 8px 25px;
	}
	.world-map-img{
		width: 100%!important;
		max-width: 950px!important;
	}
	.pin-1 {
	    top: 215px;
	    left: 650px;
	}
	.pin-2 {
	    top: 135px;
	    left: 190px;
	}
	.pin-3 {
	    top: 270px;
	    left: 515px;
	}
	.pin-4 {
	    top: 103px;
	    left: 428px;
	}
	.footer-bg-img {
    	bottom: 0px;
	}
	.roadmap-list li {
    	margin: 0px 30px 0px 90px;
	}

}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px){ 
	.dogras-world-map{
		display: inline-block!important;
	}
}

@media only screen and (max-width: 1200px) {
	.light-img{
	    background-image: url('../img/mobile-bg1.jpg');
	}
	.dark-theme .light-img{
	    background-image: url('../img/mobile-bg2.jpg');
	}
	.contact-img{
		display: none;
	}
	.sec-pad {
    	padding: 70px 10px 70px 85px;
	}
	.page-footer {
    	padding: 30px 10px 30px 85px;
    }
    .footer-line {
    	padding: 17px 10px 17px 85px;
	}
	.carousel-item{
		padding-left: 70px;
	}
	#tilt {
	  	height: 238px;
	  	width: 350px;
	}
	.roadmap-list li {
	    margin: 0px 0px 0px 80px;
	}
	.roadmap-list .year-div {
        left: -80px;
	}
	.socials-bg-side-section{
		position: relative;
	    width: 100%;
	    top: 0px;
	    border-radius: 100px;
	    background-position: center;
	    background-size: cover;
	    text-align: center;
	    margin-top: 20px;
	    padding: 60px 20px 60px 20px;
	}
}


@media only screen and (max-width: 991px) {
	.box-padding{
		padding: 30px 40px;
	}
	.screen-height {
	    padding: 50px 10px;
	}
	.about-slider.owl-theme .owl-dots{
	    position: relative;
	    right: auto;
	    left: auto;
	    bottom: -10px;
	}
	.about-bottom-padding {
    	padding-bottom: 0px;
    	padding-top: 40px;
	}
	.hero-text{
		text-align: center;
	}
	.hero-text .d-sm-flex{
		justify-content: center;
	}
	.hero-sec-height {
	    padding: 80px 0px;
	    height: auto;
	}
	.hero-text{
		margin-bottom: 50px;
	}
	.carousel-indicators {
	    left: 70px;
	    top: auto;
	    bottom: 25px;
	    transform: rotate(0deg);
	}
	.slide-arrow {
	    right: 10px;
	    bottom: 15px;
	}
	.res-center-status-div{
		text-align: center;
	}
	.res-center-status{
		display: inline-block;
	    margin: 0px auto;
	    text-align: left;
	}
	.ddos-side-img{
		display: none;
	}
	.ddos-box {
    	padding: 30px;
    }
    .ddos-map {
    	max-width: 500px;
    	height: 250px;
    }
    .ddos-map .wrapper canvas{
    	width: 500px;
    	height: 250px;
    }
    .top-background-div {
	    border-bottom-left-radius: 100px;
	    border-bottom-right-radius: 100px;
	}
}
@media (min-width: 992px){
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px){ 
   .modal-dialog {
        max-width: 700px;
    }
}

@media only screen and (max-width: 767px) {
	.home-box {
    	padding: 60px 30px;
	}
	.home-box .logo {
    	margin-bottom: 50px;
	}
	.header .logo {
    	max-height: 35px;
    }
	.socials li {
    	margin: 0px 3px;
	}
	.contact-box-padding {
    	padding: 40px 10px;
	}
	.modal .close {
	    right: 20px;
	    top: 15px;
	}
	.main-btn {
    	min-width: 160px;
	}
	.feature-box {
	    padding: 0px 0px;
	    margin-bottom: 40px;
	}
	.main-title {
    	font-size: 31px;
	}
	.payements li{
	    margin: 5px 3px;
	}
	.menu-name{
	    font-size: 14px;
	}
	.page-header .dropdown-item{
    	font-size: 14px;
	    padding: 5px 16px
	}
	.page-header{
    	width: 55px;
	}
	.show_menu.page-header{
    	width: 245px;
	}
    .nav-pills .nav-link {
    	padding: 15px 20px 15px 15px;
    	min-height: 55px;
	}
    .menu-collapse-icon {
	    left: 17px;
	    bottom: 30px;
	}
	.page-menu-logo {
	    height: 60px;
	}
	.page-menu-logo img.my-logo-icon{
		height: 64px;
    	padding: 15px 5px 15px;
	}
	.page-menu-logo img.my-logo{
	    height: 64px;
	    width: auto;
	    padding: 15px 5px 15px;
	}
	.sec-pad {
    	padding: 50px 0px 50px 55px;
	}
	.page-footer {
    	padding: 30px 0px 30px 55px;
    }
    .footer-line {
    	padding: 17px 0px 17px 55px;
	}
	.carousel-item{
		padding-left: 55px;
	}
	.support-box{
		padding: 20px 10px; 
	}
	.carousel-indicators {
	    left: 60px;
	}
	.carousel-indicators [data-bs-target] {
	    width: 8px;
	    height: 8px;
	}
	.profile-dropdown {
	    right: 10px;
	    top: 10px;
	    font-size: 13px;
	}
	.dropdown-menu-dark {
    	min-width: auto;
	}
	.dropdown-menu-dark .dropdown-item {
	    font-size: 13px;
	    padding: 3px 15px;
	}
	.owl-theme .owl-dots .owl-dot span {
	    width: 10px;
	    height: 10px;
	}
	.small-radio {
    	max-width: 55px;
	}
	.term-box {
		padding: 15px;
	    margin-left: 0px;
	    margin-top: 50px;
	}
	.term-box span.number {
	    font-size: 25px;
	    height: 50px;
	    width: 50px;
	    left: 0px;
	    top: -50px;
	}
	.inner-page-sec-pad {
    	padding-bottom: 40px;
	}
	.top-filter .dropdown-menu-dark {
    	min-width: 100%;
	}
	.light-shade-box.time-line-box {
    	padding: 20px;
	}
    .roadmap-list li {
	    padding-left: 15px;
	    margin: 0px 0px 0px 60px;
    }
    .roadmap-list li::before {
    	width: 4px;
    }
    .roadmap-list .year-div {
    	width: 50px;
    	height: 50px;
	    font-size: 15px;
	    position: absolute; 
	    left: -60px;
	}
	.ddos-map{
		width: 100%;
    	max-width: 450px;
    	height: 225px;
    }
	.ddos-map .wrapper canvas{
    	width: 450px;
    	height: 225px;
    }
    .table-responsive table {
	    border: 0;
	    border-radius: 0px;
	}
	.table-responsive table thead {
	    border: none;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	}
	.table-responsive table tr {
	    display: block;
	    padding: 1px;
	    margin-bottom: 0.625em;
	    border: none;
	}
	.table-responsive table td {
	    display: block;
	    font-size: 12px;
	    text-align: right!important;
	    padding: 0.725rem 0.625rem;
	    text-transform: inherit;
	    border-bottom-width: 1px;
	    border-left: none;
	    border-right: none;
	}
	.table-responsive table td:last-child {
	    border-bottom-width: 0px;
	}
	.table-responsive table td::before {
	    content: attr(data-label);
	    float: left;
	    font-family: glacialindifference-bold;
	}
	.top-background-div {
	    border-bottom-left-radius: 70px;
	    border-bottom-right-radius: 70px;
	    height: 170px;
	    left: 55px;
	}
	.socials-bg-side-section {
	    border-radius: 50px;
	    padding: 40px 20px;
	}
}
@media only screen and (max-width: 640px) {
  

}
    

@media only screen and (max-width: 575px) {
	.home-box {
    	padding: 50px 30px;
	}
	.home-box .logo {
    	margin-bottom: 40px;
	}
	.checkbox-div {
	    border: 4px solid #D41CC7;
	    padding: 13px 25px;
	}
	.custom.checkbox label{
    	font-size: 19px;
	}
	.verify-popup-box{
    	padding: 20px;
	}
	.theme-btn{
		min-width: 120px;
	}
	.verify-popup-box .g-3, .verify-popup-box .gx-3 {
    	--bs-gutter-x: .5rem;
	}
	.images{
    	margin-bottom: 8px;
    }
    .box-padding{
		padding: 20px 20px;
	}
	.title {
    	font-size: 23px;
	}
	.header {
    	height: 60px;
	}
	.screen-height.header-padding {
    	padding: 80px 0px 60px;
	}
	.header .logo {
    	max-height: 26px;
    }
    .socials li {
    	margin: 0px 2px;
	}
	.box_radio {
	    width: 60px;
	    height: 30px;
	}
	.box_radio .icon {
	    width: 24px;
	    height: 24px;
	    top: 3px;
	    left: 3px;
	}
	.box_radio.night .icon {
    	left: 33px;
	}
	.box_radio label input[type="radio"] {
	    width: 30px;
	    height: 30px;
    }
    .testimonial-div p {
	    font-size: 16px;
	    line-height: 23px;
    }
    .main-title {
    	font-size: 25px;
	}
	.support-box h2 {
    	font-size: 20px;
    	line-height: 27px;
	}
	.support-box .main-btn{
		font-size: 13px;
	}
	.hero-text .main-btn {
	    min-width: 120px;
	    padding: 6px 15px;
	    font-size:14px;
	}
	.sidebar-filter .light-shade-box {
	    margin-bottom: 20px;
	}
	.top-filter {
    	font-size: 16px;
    }
    .light-shade-box.time-line-box {
    	padding: 20px 15px;
	}
    .roadmap-list li {
	    margin: 0px;
    }
    .roadmap-list .year-div {
	     position: relative; 
	    left: 0px;
	    margin-bottom: 12px;
	}
	.ddos-box {
    	padding: 30px 10px;
    }
    .ddos-map {
    	max-width: 300px;
    	height: 150px;
    	margin: 20px 0px 0px;
    }
    .ddos-map .wrapper canvas{
    	width: 300px;
    	height: 150px;
    }
    .payements {
    	justify-content: flex-start;
	}
	.socials-bg-side-section {
	    border-radius: 20px;
	    padding: 30px 20px;
	}
	.games-creator p {
	    font-size: 13px;
	}
}
@media (min-width: 576px){

}

@media only screen and (max-width: 480px) {
  
}
@media only screen and (max-width: 400px) {

}
@media screen and (max-width: 375px){
	.icons li{
    	margin-right: 10px;
	}
	.header .logo {
    	max-height: 24px;
    }
    .socials li {
    	margin: 0px 0px;
	}
	.box_radio {
	    width: 52px;
	    height: 26px;
	}
	.box_radio .icon {
	    width: 20px;
	    height: 20px;
	}
	.box_radio.night .icon {
    	left: 29px;
	}
	.box_radio label input[type="radio"] {
	    width: 26px;
	    height: 26px;
    }
    .box-padding{
		padding: 20px 10px;
	}
	.server-details {
    	padding: 15px 10px;
	}
	.contact-box-padding {
    	padding: 40px 0px;
	}
	.top-background-div {
	    border-bottom-left-radius: 50px;
	    border-bottom-right-radius: 50px;
	    height: 185px;
    }
}
@media screen and (max-width: 321px){
	.checkbox-div {
	    padding: 13px 15px;
	}
	.custom.checkbox label{
    	font-size: 17px;
	}
	.socials li {
    	max-width: 15px;
	}
}







